@using PagedList
@using PagedList.Mvc
@model IPagedList<MVCblog2.Models.Makale>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<link href="~/Content/PagedList.css" rel="stylesheet" />
<h1 class="mt-4"></h1>
@foreach (var item in Model)
{
    
    <div class="card mb-4">
        <img class="card-img-top" src="">
        <div class="card-body">
            <div class="lead">

                <img class="d-flex mr-3 rounded-circle" width="40" src="@item.Uye.Foto" alt="@item.Uye.AdSoyad" />
                <a href="/Uye/UyeProfil/@item.Uye.UyeID">@item.Uye.KullaniciAdi</a>
                <span> | @string.Format("{0: MMMM yyyy}", item.Tarih) | @item.Kategori.KategoriAdi (@item.Kategori.Makales.Count()) | Yorumlar (@item.Yorums.Count()) </span>

            </div>
            <h2 class="card-title">
                <a href="/Home/MakaleDetay/@item.MakaleID">@item.Baslik</a>
            </h2>

            @if (item.Icerik.Length > 100)
                {
                <p class="card-text">
                    @Html.Raw(item.Icerik.Substring(0, 100))
                </p>
            }
            else
            {
                <p class="card-text">
                    @Html.Raw(item.Icerik)...
                </p>
            }
            <a href="/Home/MakaleDetay/@item.MakaleID" class="btn btn-primary">Devamnı Oku &rarr;</a>

        </div>

    </div>
   

}

<div class="row">
    <div class="col-md-12 text-center">
        <div class="pagedList pagination-lg">
            @Html.PagedListPager(Model, Page => Url.Action("Index", new {Page}), PagedListRenderOptions.Classic)
        </div>
    </div>
</div>